.shoppingList {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    gap: 10px; /* Gap between grid items */
    
  }
  
  .shoppingItem {
      border: 1px solid #ccc; /* Add a border around each grid item */
      padding: 10px;
  }